* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}
.content h2 {
  margin: 0;
  padding: 25px 0;
  font-size: 22px;
  border-bottom: 1px solid #ebebeb;
  color: #666666;
}
.topButtons {
  display: flex;
  gap: 10px;
}
.create-product {
  display: inline-block;
  text-decoration: none;
  background-color: #38b673;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 15px;
  margin: 15px 0;
  border: none;
}
.create-product:hover {
  background-color: #32a367;
}
.backToSite {
  display: inline-block;
  text-decoration: none;
  background-color: #f18385;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 15px;
  margin: 15px 0;
}
.backToSite:hover {
  background-color: #f1686b;
}

table {
  width: 100%;
  padding-top: 30px;
  border-collapse: collapse;
}
table thead {
  background-color: #ebeef1;
  border-bottom: 1px solid #d3dae0;
}
table thead td {
  padding: 10px;
  font-weight: bold;
  color: #767779;
  font-size: 14px;
}
tr {
  border-bottom: 1px solid #d3dae0;
}

tr:hover {
  background-color: #376ab7;
}

tr:hover td {
  color: #ffffff;
}

td {
  padding: 10px;
}
td:nth-child(1) {
  color: #a5a7a9;
}
.actions {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.actions > p:hover {
  cursor: pointer;
}
.edit,
.trash,
.visibleOrNot {
  text-decoration: none;
  color: #d31919;
  padding: 10px 12px;
}

/* TEST FORM FOR ADD NEW PRODUCT */
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: relative;
  border: 3px solid #f1f1f1;
  z-index: 9;
  margin-bottom: 15px;
}

/* Add styles to the form container */
.form-container {
  max-width: 100%;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
/* Set a flex style for bouth buttons on same line */
.addProductButtons {
  display: flex;
  gap: 5px;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
