body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}
/* LOADING SCREEN ################################################################################ */
.loadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh;
  width: 97vw;
}
.loadingScreen ul {
  width: 108px;
  height: 108px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.loadingScreen ul li {
  width: 30px;
  height: 30px;
  margin: 2px;
  background-color: transparent;
  animation: loading 0.8s infinite;
}

.loadingScreen ul li:nth-child(5) {
  opacity: 0;
}
.loadingScreen ul li:nth-child(1) {
  animation-delay: 0.1s;
}
.loadingScreen ul li:nth-child(2) {
  animation-delay: 0.2s;
}
.loadingScreen ul li:nth-child(3) {
  animation-delay: 0.3s;
}
.loadingScreen ul li:nth-child(6) {
  animation-delay: 0.4s;
}
.loadingScreen ul li:nth-child(9) {
  animation-delay: 0.5s;
}
.loadingScreen ul li:nth-child(8) {
  animation-delay: 0.6s;
}
.loadingScreen ul li:nth-child(7) {
  animation-delay: 0.7s;
}
.loadingScreen ul li:nth-child(4) {
  animation-delay: 0.8s;
}

@keyframes loading {
  1% {
    background-color: #ff686b;
  }
}
.fade-in {
  animation: fadeIn 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* NAV MENU + RESPONSIVE HAMBURGER MENU ########################################################## */
a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 25px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.logoOnTop {
  height: 40px;
  width: 200px;
}
.crossMenuBar {
  border: 1px;
  padding-top: 50px;
}
/* PRODUCT DETAILS CSS ################################################################################## */
.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 1040px;
  display: flex;
  box-shadow: -32px 32px 50px rgba(0, 0, 0, 0.2);
}

.product-left {
  height: 100%;
  width: 70%;
  padding: 64px 32px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  flex-direction: column;
  background: #f18385;
  color: #fff;
}

.product-right {
  background: #fff;
  height: auto;
  width: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-right img {
  height: 480px;
}

.titleProduct h1 {
  /* text-transform: uppercase;
  margin: 32px 0; */
  font-size: 30px;
}

/* Product Description */

.product-main p {
  margin: 32px 0;
  line-height: 1.45;
}

.product-total p {
  font-weight: 700;
  font-size: 30px;
}

.product-add {
  border: 1px solid #fff;
  padding: 24px;
  border-radius: 80px;
  transition: all 0.5s ease-out;
}

.product-add:hover {
  background-color: #fff;
  color: #2e282a;
}

.product-btns a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* RESPONSIVE PRODUCT DETAILS ################################################################################ */
@media (min-width: 890px) {
  .product-right > img {
    height: 350px;
    max-width: 600px;
  }
}
@media (max-width: 890px) {
  .card {
    border-radius: 8px;
    margin-top: 15px;
    max-width: 700px;
    display: flex;
    box-shadow: -32px 32px 50px rgba(0, 0, 0, 0.2);
  }
  .product-right {
    background: #fff;
    height: auto;
    width: 60%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-right > img {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 700px) {
  .card {
    border-radius: 8px;
    margin: 1px 10px 1px 10px;
    max-width: 700px;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: -32px 32px 50px rgba(0, 0, 0, 0.2);
  }
  .product-left {
    height: 100%;
    width: auto;
    padding: 64px 32px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f18385;
    color: #fff;
  }

  .product-right {
    background: #fff;
    height: auto;
    width: auto;
    border-bottom-right-radius: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-right > img {
    height: 250px;
    width: 250px;
  }
  .titleProduct h1 {
    text-transform: uppercase;
    margin: 15px 0;
    font-size: 25px;
  }
  .product-main p {
    margin: 0px 0;
    line-height: 1.45;
    font-size: 15px;
  }
  .product-total p {
    font-weight: 700;
    font-size: 20px;
  }
  .product-add {
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 80px;
    transition: all 0.5s ease-out;
  }
}
