/* * {
  margin: 0;
  padding: 0;
} */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}
/* LOADING SCREEN ################################################################################ */
.loadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh;
  width: 97vw;
}
.loadingScreen ul {
  width: 108px;
  height: 108px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.loadingScreen ul li {
  width: 30px;
  height: 30px;
  margin: 2px;
  background-color: transparent;
  animation: loading 0.8s infinite;
}

.loadingScreen ul li:nth-child(5) {
  opacity: 0;
}
.loadingScreen ul li:nth-child(1) {
  animation-delay: 0.1s;
}
.loadingScreen ul li:nth-child(2) {
  animation-delay: 0.2s;
}
.loadingScreen ul li:nth-child(3) {
  animation-delay: 0.3s;
}
.loadingScreen ul li:nth-child(6) {
  animation-delay: 0.4s;
}
.loadingScreen ul li:nth-child(9) {
  animation-delay: 0.5s;
}
.loadingScreen ul li:nth-child(8) {
  animation-delay: 0.6s;
}
.loadingScreen ul li:nth-child(7) {
  animation-delay: 0.7s;
}
.loadingScreen ul li:nth-child(4) {
  animation-delay: 0.8s;
}

@keyframes loading {
  1% {
    background-color: #ff686b;
  }
}
.fade-in {
  animation: fadeIn 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* NAV MENU + RESPONSIVE HAMBURGER MENU ########################################################## */
a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 25px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.logoOnTop {
  height: 40px;
  width: 200px;
}
.crossMenuBar {
  border: 1px;
  padding-top: 50px;
}
/* PRODUCTS LIST ###########################################################################################  */

.productsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12.5px;
}

.card {
  padding-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: 20px;
}
.productName {
  height: 57.6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price {
  color: grey;
  font-size: 18px;
}

.btn-details {
  border: none;
  outline: 0;
  padding: 12px 29.8px 12px 29.8px;
  color: white;
  background-color: #f18385;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  gap: 2px;
  display: flex;
}

.btn-details > a {
  text-decoration: none;
}

.btn-addToCart {
  border: none;
  outline: 0;
  padding: 12px 29.8px 12px 29.8px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  gap: 2px;
  display: flex;
}

.flexButton {
  display: flex;
}

.card button:hover {
  opacity: 0.7;
}

.card > img {
  height: 200px;
  width: 200px;
}
.posterPage {
  margin: 30px 100px 60px 100px;
  display: flex;
  justify-content: center;
}
.posterPage img {
  width: 80%;
  height: 10%;
  align-items: center;
}
#scrollHere {
  padding-top: 50px;
}
@media (max-width: 924px) {
  .productsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
@media (max-width: 704px) {
  .productsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media (max-width: 472px) {
  .productsList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
